<!--
Dana Clemmer
views/admin.html
Admin file for dating website
-->

<include href="views/header.html"></include>
<body id="adminBody" class="mx-auto">
<br>
<h1 class="font-weight-bold">Member Table</h1>
<br>

<div class="table">
    <table id="guestbook-table" class="display">
        <thead>
        <tr>
            <td>Member_id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Phone</td>
            <td>Email</td>
            <td>State</td>
            <td>Seeking</td>
            <td>Bio</td>
            <td>Premium</td>
            <td>Interests</td>
        </tr>
        </thead>

        <tbody>
        <repeat group="{{ @results }}" value="{{ @result }}">
            <tr>
                <th>{{ @result.member_id }}</th>
                <td>{{ @result.fname }}</td>
                <td>{{ @result.lname }}</td>
                <td>{{ @result.age }}</td>
                <td>{{ @result.gender }}</td>
                <td>{{ @result.phone }}</td>
                <td>{{ @result.email }}</td>
                <td>{{ @result.state }}</td>
                <td>{{ @result.seeking }}</td>
                <td>{{ @result.bio }}</td>
                <td><input type="checkbox"
                    <check if="{{ @result.premium }}">checked</check>
                    >
                </td>
                <td>{{ @result.interests }}</td>
            </tr>
        </repeat>
        </tbody>
    </table>
</div>

<!-- FOR JQUERY TABLE -->
<!--
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
    $('#guestbook-table').DataTable({
        'scrollX': true,
        "order": [[2, "asc"]]
    });
</script>-->
</body>
</html>

