<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dating</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="content">
    <h1 class="font-weight-bold">My Dating Website</h1>
    <p>Welcome to the web's most successful dating website. At <span class="font-weight-bold">My Dating Website</span>
        you'll meet another like minded individuals. We have the highest success rate of couples on the web. User's are
        matched by interest and location. Find out why so many others have found love on our site!</p>
    <br>
    <h2 class="font-weight-bold">Hear what our users are saying about us.</h2>
    <div class="user-stories font-italic">
        <p>"I met the love of my life after only a month!" - Andrea</p>
        <p>"It was so easy to set up and profile and start meeting people. I didn't realize how many others were looking
            for
            love in my area." - John Smith</p>
        <p>"Just try it! You'll never be the same!" - Sarah</p>
    </div>
    <button type="button">Create a Profile!</button>
</div>
<img src="../images/couple.jpg" alt="Couple on a beach">

<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>