<!--
Dana Clemmer
1/22/21
home.html A home page for a dating website
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Two Hearts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<nav class="navbar navbar-light">
    <a class="navbar-brand text-white" href="#">&#9829; Two Hearts &#9829;</a>
</nav>

<div class="content form-row border p-4 rounded">
    <div class="container-fluid form-group col-lg-6 left-content">
        <h1 class="font-weight-bold text-center">&#9829; Two Hearts &#9829;</h1>
        <br>
        <p>Welcome to the newest dating website out there. At <span
                class="font-weight-bold">Two Hearts</span>
            you'll meet other like minded individuals. All are welcome to join! Whether you're an introvert, extrovert,
            or a bit of both, we are certain you will find your match at <span
                    class="font-weight-bold">Two Hearts</span>! We have the highest success rate of couples on the web.
            User's
            are matched by interest and location. Find out why so many others have found love on our site!</p>
        <br><br>
        <h4 class="font-weight-bold text-center">Hear what our users are saying about us.</h4>
        <hr>
        <div class="user-stories font-italic">
            <p class="ml-4">"Two Hearts so accurately matches you with people that hold similar interests, values, etc.
                Within a few hours of creating a profile I met my current boyfriend!" - Olivia</p>
            <p class="ml-4">"It was so easy to set up and profile and start meeting people. I didn't realize how many
                others were looking
                for
                love in my area." - Seth</p>
            <p class="ml-4">"I was skeptical at first. I haven't had much success with dating sites in the past... but
                trust me. Two Hearts is where it's at!" - Chloe</p>
        </div>
        <hr>
        <br>
        <button class="button rounded text-white font-weight-bold" type="button">Create a Profile!</button>
    </div>
    <div class="container-fluid form-group col-lg-5 image-content">
        <img class="rounded" src="images/couple.jpg" alt="Couple on a beach">
    </div>
</div>


<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>