<!--
Dana Clemmer
views/interests.html
Page containing a form with interests for dating website
-->
<include href="views/header.html"></include>

<div class="content border p-4 rounded">
    <h1>Interests</h1>
    <hr>
    <form method="post" action="#">
        <label class="font-weight-bold">Indoor Interests</label><br>
        <div class="form-row">
            <repeat group="{{ @indoor }}" value="{{ @activity }}">
                <div class="form-group col-3">
                    <label><input type="checkbox" name="indoor[]" value="{{ @activity }}">
                        {{ ucfirst(@activity) }}</label>
                </div>
            </repeat>
        </div>
        <check if="{{ @errors['indoor'] }}"><p class="text-danger">{{ @errors['indoor'] }}</p></check>

        <label class="font-weight-bold">Outdoor Interests</label><br>
        <div class="form-row">
            <repeat group="{{ @outdoor }}" value="{{ @activity }}">
                <div class="form-group col-3">
                    <label><input type="checkbox" name="outdoor[]" value="{{ @activity }}"> {{ ucfirst(@activity)
                        }}</label>
                </div>
            </repeat>
        </div>
        <check if="{{ @errors['outdoor'] }}"><p class="text-danger">{{ @errors['outdoor'] }}</p></check>

        <div class="text-right">
            <input class="rounded text-white font-weight-bold" type="submit" value="Next >">
        </div>
    </form>
</div>
</body>
</html>