<!--
Dana Clemmer
views/personal-info.html
Page containing a form with personal info for dating website
-->
<include href="views/header.html"></include>

<div class="content border p-4 rounded">
    <h1>Personal Info</h1>
    <hr>
    <form method="post" action="#">
        <div class="form-row">
            <div class="form-group col-sm-8">
                <label for="fname" class="font-weight-bold">First Name</label><br>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="Sarah"
                       value="{{ @userFName }}">
                <check if="{{ isset(@errors['fname']) }}"><span class="text-danger">{{ @errors['fname'] }}</span>
                </check>
                <br>

                <label for="lname" class="font-weight-bold">Last Name</label><br>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Smith"
                       value="{{ @userLName }}">
                <check if="{{ isset(@errors['lname']) }}"><span class="text-danger">{{ @errors['lname'] }}</span>
                </check>
                <br>

                <label for="age" class="font-weight-bold">Age</label><br>
                <input type="text" class="form-control" id="age" name="age" placeholder="25" value="{{ @userAge }}">
                <check if="{{ isset(@errors['age']) }}"><span class="text-danger">{{ @errors['age'] }}</span></check>
                <br>

                <label class="font-weight-bold">Gender</label><br>
                <repeat group="{{ @genders }}" value="{{ @gender }}">
                    <label class="radioFormat"><input type="radio" name="gender" id="{{ @gender }}"
                                                      value="{{ @gender }}"
                        <check if="{{ @gender == @userGender }}">checked</check>
                        >
                        {{ucfirst(@gender) }}
                    </label>&emsp;
                </repeat>
                <br>
                <check if="{{ isset(@errors['gender']) }}"><span class="text-danger">{{ @errors['gender'] }}</span>
                </check>
                <br>
                <label for="phone" class="font-weight-bold">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" value="{{ @userPhone }}"
                       maxlength="12" placeholder="222-333-4444">
                <check if="{{ isset(@errors['phone']) }}"><span class="text-danger">{{ @errors['phone'] }}</span>
                </check>
                <br>
                <label class="font-weight-bold">Premium Membership</label><br>
                <label><input type="checkbox" name="premium" value="premium"
                    <check if="{{ @premium != @userPremium }}">checked</check>>
                    Sign me up for a Premium Account!</label>
                <br>
            </div>
            <div class="form-group col-sm-4">
                <p id="privacyPol" class="rounded text-center"><strong>Note:</strong> All information
                    entered is protected by our <span class="text-primary">privacy policy</span>. Profile information
                    can
                    only be viewed by others with your permission. </p>
            </div>
        </div>

        <div class="text-right">
            <input class="rounded text-white font-weight-bold" type="submit" value="Next >">
        </div>

    </form>
</div>
</body>
</html>