<!--
Dana Clemmer
views/profile.html
Page containing a form with profile info for dating website
-->
<include href="views/header.html"></include>

<div class="content border p-4 rounded">
    <h1>Profile</h1>
    <hr>
    <form method="post" action="#">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="font-weight-bold" for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email"
                       value="{{ @userEmail }}" placeholder="my_email@gmail.com">
                <check if="{{ isset(@errors['email']) }}"><p class="text-danger">{{ @errors['email'] }}</p></check>

                <label class="font-weight-bold" for="inputState">State</label>
                <select class="custom-select" id="inputState" name="state">
                    <option selected>Choose...</option>
                    <repeat group="{{ @states }}" value = "{{ @state }}">
                        <option value="{{ @state }}" <check if="{{ @state == @userState }}">selected</check>>
                        {{ ucfirst(@state) }}</option>
                    </repeat>
                </select><br><br>

                <label class="font-weight-bold">Seeking</label><br>
                <repeat group = "{{ @genders }}" value="{{ @gender }}">
                    <label class="radioFormat"><input type="radio" name="seeking" id="{{ @gender }}" value="{{ @gender }}"
                        <check if="{{ @gender == @genderSeeking }}">checked</check>> {{ucfirst(@gender) }}
                        </input></label>&emsp;
                </repeat>
                <check if="{{ isset(@errors['seeking']) }}"><p class="text-danger">{{ @errors['seeking'] }}</p></check>

            </div>
            <div class="form-group col-md-6">
                <label class="bioDiv font-weight-bold" for="bio">Biography</label>
                <textarea class="bioDiv" id="bio" name="bio" value="{{ @userBio }}" rows="5"></textarea>
            </div>
        </div>
        <div class="text-right">
            <input class="rounded text-white font-weight-bold" type="submit" value="Next >">
        </div>
    </form>
</div>
</body>
</html>