<!--
Dana Clemmer
2/8/21
summary.html Page containing summary of form submission for a dating website
-->
<include href="views/header.html"></include>
<body>
<div class="content border p-4 rounded">
    <div class="form-row">
        <div class="form-group col-md-6" id="left">
            <hr>
            <p>Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</p>
            <hr>
            <p>Gender: {{ @SESSION.gender }}</p>
            <hr>
            <p>Age: {{ @SESSION.age }}</p>
            <hr>
            <p>Phone: {{ @SESSION.phone }}</p>
            <hr>
            <p>Email: {{ @SESSION.email }}</p>
            <hr>
            <p>State: {{ @SESSION.state }}</p>
            <hr>
            <p>Seeking: {{ @SESSION.seeking }}</p>
            <hr>
            <p>Interests: {{ @SESSION.indoor }} {{ @SESSION.outdoor }}</p>
            <hr>
        </div>
        <div class="container-fluid form-group col-md-5">
            <img id="profile" class="rounded" src="images/profile.png" alt="Profile">
            <h5>Biography</h5>
            <p>{{ @SESSION.bio }}</p>
        </div>
    </div>

    <input class="submit rounded text-white font-weight-bold" type="submit" value="Contact Me!">
</div>
</body>
</html>