<include href="views/header.html"></include>
<body>
<div class="container">
    <h1>Profile Summary</h1>

    <p>Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</p>
    <p>Gender: {{ @SESSION.gender }}</p>
    <p>Age: {{ @SESSION.age }}</p>
    <p>Phone: {{ @SESSION.phone }}</p>
    <p>Email: {{ @SESSION.email }}</p>
    <p>State: {{ @SESSION.state }}</p>
    <p>Seeking: {{ @SESSION.seeking }}</p>
    <p>Interests: {{ @SESSION.indoor }} {{ @SESSION.outdoor }}</p>

    <p>Biography: {{ @SESSION.bio }}</p>

    <a href="{{ @BASE }}">Home page</a>

    <input type="submit" value="Contact Me!">
</div>
</body>
</html>