<!--
Dana Clemmer
views/summary.html
Page containing summary of form submission for dating website
-->
<include href="views/header.html"></include>
<div class="content border p-4 rounded">
    <div class="form-row">
        <div class="form-group col-md-6" id="left">
            <table>
                <tr>
                    <td>Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</td>
                </tr>
                <tr>
                    <td>Gender: {{ ucfirst(@SESSION.gender) }}</td>
                </tr>
                <tr>
                    <td>Age: {{ @SESSION.age }}</td>
                </tr>
                <tr>
                    <td>Phone: {{ @SESSION.phone }}</td>
                </tr>
                <tr>
                    <td>Email: {{ @SESSION.email }}</td>
                </tr>
                <tr>
                    <td>State: {{ ucfirst(@SESSION.state) }}</td>
                </tr>
                <tr>
                    <td>Seeking: {{ ucfirst(@SESSION.seeking) }}</td>
                </tr>
                <tr>
                    <td>Interests: {{ @SESSION.indoorActs }} {{ @SESSION.outdoorActs }}</td>
                </tr>
            </table>
        </div>
        <div class="container-fluid form-group col-md-5">
            <img id="profile" class="rounded" src="images/profile.png" alt="Profile">
            <br>
            <h5 class="text-center">Biography</h5>
            <p class="text-center">{{ @SESSION.bio }}</p>
        </div>
    </div>

    <input class="submit rounded text-white font-weight-bold" type="submit" value="Contact Me!">
</div>
</body>
</html>